.tasksApp {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
    box-sizing: border-box;
    padding: 0 14px;
}

.tasksBoxContainer {
    box-sizing: border-box;
    width: 40%;
    min-width: 270px;
    max-width: 420px;
    padding: 14px 16px;
    min-height: 522px;
}

.tasksContainer {
    height: calc(100% - 52px);
    width: 100%;
    box-sizing: border-box;
    background-color: #303030;
    padding: 24px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
}

.overdue-gameContainer {
    display: flex;
    flex-direction: column;
}

.gameContainerTasks {
    height: 242px;
    box-sizing: border-box;
}


.gameContainer {
    height: calc(242px - 52px);
}

.tasksContainerOverdue {
    height: 100%;
}

.tasksHeading {
    height: 52px;
    font-family: sans-serif;
    padding: 14px 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasksContainer, .gameContainer {
    border-radius: 8px;
}

.tasksHeading div button {
    background-color: transparent;
    min-width: 0 !important;
    padding: 0 !important;
    border: transparent;
    color: #888888;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: none !important;
}

.tasksHeading div button:hover {
    background-color: transparent;
    color: #aaa !important;
}

li {
    background-color: #282828;
    opacity: 0.8;
    /* list-style: number; */
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 12px 14px;
    align-items: center;
    justify-content: space-between;
}

li button {
    color: #aaa;
    background-color: transparent;
    border: transparent;
}

.todo li button:hover {
    color: #4bb543;
}

.todo li div button {
    color: #888888 !important;
    background-color: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    width: 10px;
    justify-content: end !important;
}

.todo li div button:hover {
    color: #aaa !important;
}

.complete li button:hover {
    color: rgb(167, 53, 53);
}

.gameElementContainer {
    background-color: #aaa;
    height: calc(100% - 52px);
    border-radius: 8px;
    /* overflow: hidden; */
}